{%extends "user_admin/admin_base.html" %}
{% load static %}
{% block body_block %}
<header class="header">

    <nav class="navbar navbar-expand-lg">
        <div class="container">

            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler navbar-toggler-right">Menu<i class="fa fa-bars"></i>
            </button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">

            <a href="/user_admin/{{usr.username}}" class="navbar-brand">
                <img src="/static/img/logo.svg" alt="logo" class="d-none d-lg-block">
                <span class="sr-only">Home</span>
            </a>

                
                <ul class="navbar-nav ml-auto">
                    <li id="navHone" class="nav-item ">
                        <a href="/user_admin/{{usr.username}}" class="nav-link">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li id="navChallenge" class="nav-item">
                        <a href="/user_admin/add/{{usr.username}}" class="nav-link">Add New Challenges</a>
                    </li>
                    <li id="navBoard" class="nav-item">
                        {% comment %} <a href="/user_admin/acc/{{usr.username}}" class="nav-link">My Account</a> {% endcomment %}
                        <a id="clientZone" href="/user_admin/acc/{{usr.username}}"
                               class="nav-link  has-img mb-3 mb-lg-0 mt-3 mt-lg-0">
                                <div class="client-menu-image">
                                    <div class="inner">
                                        <img src="/media/{{uad.profile_pic}}"
                                             alt="company image"
                                             class="img-fluid">
                                    </div>
                                </div>
                                My Account
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li id="navuser2" class="nav-item " style="color: #fff">
                            <a href="{% url 'user_admin:admin_logout' %}"class="btn navbar-btn btn-outline-light mb-5 mb-lg-0">
                                <i class="fa fa-sign-in"></i>Logout
                            </a>
                        </li>
                    {% endif %}
                </ul>         
            </div>
        </div>
    </nav>
</header>
<br>
<table id="example" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th class="th-sm">Challenge Name

      </th>
      <th class="th-sm">Technology

      </th>
      <th class="th-sm">Manager

      </th>
      <th class="th-sm">Date Posted

      </th>
      <th class="th-sm">Post Expiry Date

      </th>
      <th class="th-sm">Applicants

      </th>
      <th class="th-sm">Digital Points

      </th>
      <th class="th-sm">Applicants List

      </th>
    </tr>
  </thead>
  <tbody>
    {%for c in challenges %}
        <tr>
            <td><a href="/user_admin/show/{{usr.username}}_{{c.name}}">{{c.name}}</a></td>
            <td>{{c.technology}}</td>
            <td>{{c.manager}}</td>
            <td>{{c.date_posted}}</td>
            <td>{{c.expiry_date}}</td>
            <td>{{c.applicant}}</td>
            <td>{{c.points}}</td>
            <td><a href="/user_admin/applicants/{{usr.username}}_{{c.name}}" style="color:blue">Applicants List</a></td>
        </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<br>
<br>
<br>
<script type='text/javascript'>
$(document).ready(function() {
    var table = $('#example').DataTable( {
        lengthChange: false,
        buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
    } );
 
    table.buttons().container()
        .appendTo( '#example_wrapper .col-md-6:eq(0)' );
} );
</script>
{% endblock %}
